body{
    background-color: #1f2533;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

.calculator{
    background-color: #2a2f40;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.display{
    background-color: #111827;
    color: white;
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 15px;
    max-width: 240px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 15px;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    background-color: #374152;
    color: white;
    transition: background 0.3s ease;
}

.btn:hover{
    background-color: #4b5563;
}

.operator{
    background-color: rgb(46, 175, 255);
}

.operator:hover{
    background-color: #23e2ff;
}

.equal{
    grid-column: span 2;
    background-color: rgb(70, 222, 161);
}

.equal:hover{
    background-color: #059669;
}

